flows.json
[{"id":"47a49705.77fc68","type":"tab","label":"Flow 2(Customer Help Desk)","disabled":false,"info":""},{"id":"89e16cef.f50b2","type":"ui_form","z":"47a49705.77fc68","name":"","label":"","group":"8cd5c250.6edc5","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":167,"y":239,"wires":[["f2296f77.7bfe3"]]},{"id":"f2296f77.7bfe3","type":"function","z":"47a49705.77fc68","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":248,"wires":[["e067360d.411508","ee424546.523268"]]},{"id":"91a9043b.2cc418","type":"function","z":"47a49705.77fc68","name":"parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":255,"wires":[["6bf4ac40.fd8764","a3342935.96eb38"]]},{"id":"e067360d.411508","type":"watson-conversation-v1","z":"47a49705.77fc68","name":"Customer Care","workspaceid":"e348736d-3783-4d6c-aa66-3c2aa0bd0d7b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7e2055d3-feb6-47fc-9736-a86a4a1e7311","timeout":"","optout-learning":false,"x":492,"y":140,"wires":[["7d13dd00.e6db14","91a9043b.2cc418"]]},{"id":"ee424546.523268","type":"ui_text","z":"47a49705.77fc68","group":"8cd5c250.6edc5","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":388,"y":355,"wires":[]},{"id":"7d13dd00.e6db14","type":"debug","z":"47a49705.77fc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":25,"wires":[]},{"id":"6bf4ac40.fd8764","type":"ui_text","z":"47a49705.77fc68","group":"8cd5c250.6edc5","order":3,"width":16,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":766,"y":346,"wires":[]},{"id":"a3342935.96eb38","type":"ui_audio","z":"47a49705.77fc68","name":"audio out","group":"8cd5c250.6edc5","voice":"en-US","always":true,"x":759,"y":137,"wires":[]},{"id":"8cd5c250.6edc5","type":"ui_group","z":"47a49705.77fc68","name":"Chatbot","tab":"82d0da4c.0ecc98","order":1,"disp":true,"width":16,"collapse":false},{"id":"82d0da4c.0ecc98","type":"ui_tab","z":"","name":"Customer Care Help Desk","icon":"dashboard","disabled":false,"hidden":false}]
