Restaurant Bot json
[{"id":"19780fee.12291","type":"tab","label":"Flow 1(Restaurant Bot)","disabled":false,"info":""},{"id":"4dceff27.9fe15","type":"inject","z":"19780fee.12291","name":"","topic":"","payload":"Hello!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":261,"y":67,"wires":[["34db885e.53c868"]]},{"id":"34db885e.53c868","type":"watson-conversation-v1","z":"19780fee.12291","name":"Test Bot","workspaceid":"3aeeb358-84f7-4537-9c19-b4a0140bb222","multiuser":false,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7e2055d3-feb6-47fc-9736-a86a4a1e7311","timeout":"","optout-learning":false,"x":373,"y":193,"wires":[["43231eed.7d5fc","5a1071a.022dc9"]]},{"id":"5a1071a.022dc9","type":"debug","z":"19780fee.12291","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":692,"y":91,"wires":[],"inputLabels":["hey"]},{"id":"6ee33326.c9c9ec","type":"ui_text","z":"19780fee.12291","group":"d572fa1c.f29a98","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-center","x":386,"y":396,"wires":[]},{"id":"43231eed.7d5fc","type":"function","z":"19780fee.12291","name":"parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\nmsg.url=msg.payload.output.generic[0].source\nmsg.payload=msg.payload.output.generic[0].title;\n}\nelse{\n    msg.url=\"https://image.shutterstock.com/image-vector/welcome-card-green-summer-tropical-260nw-1415346017.jpg\"\n    msg.payload=msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":206,"wires":[["53615418.189ecc","2c33831.219567c","df80e92d.2986d8"]]},{"id":"595fdc4f.4664b4","type":"function","z":"19780fee.12291","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["34db885e.53c868","6ee33326.c9c9ec"]]},{"id":"68ac0838.98c538","type":"ui_form","z":"19780fee.12291","name":"","label":"","group":"d572fa1c.f29a98","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":69,"y":292,"wires":[["595fdc4f.4664b4"]]},{"id":"53615418.189ecc","type":"ui_text","z":"19780fee.12291","group":"d572fa1c.f29a98","order":2,"width":"6","height":"6","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":710,"y":260,"wires":[]},{"id":"2c33831.219567c","type":"ui_template","z":"19780fee.12291","group":"d572fa1c.f29a98","name":"","order":3,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":713,"y":152,"wires":[[]]},{"id":"df80e92d.2986d8","type":"ui_audio","z":"19780fee.12291","name":"audio out","group":"d572fa1c.f29a98","voice":"en-US","always":false,"x":721,"y":213,"wires":[]},{"id":"d572fa1c.f29a98","type":"ui_group","z":"","name":"Chatbot","tab":"2d72fdf6.a3b9e2","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d72fdf6.a3b9e2","type":"ui_tab","z":"","name":"Restaurant Bot","icon":"dashboard","disabled":false,"hidden":false}]
